body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
     background: rgb(2,0,36);
     background: linear-gradient(90deg, rgb(209, 15, 128) 0%, rgb(0, 0, 0) 75%, rgba(7, 7, 7, 0.849) 100%);;
}
#container{
    width: 600px;
    border: solid 1px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    background-color: aliceblue;
}
img{
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}
h1{
    text-align: center;
}
.p1{
    text-align: center;
}
li{
    list-style: none;
}
ul{
    padding: 0;
}